[Unit]

Description=ODPy
After=network.target

[Service]

WorkingDirectory=/ODPy/
Environment="PYTHONPATH=/ODPy/server/*
ExecStart=/ODPy/venv/bin/gunicorn -b [::]:8443 --workers 1 --threads 4 server.app:app

[Install]

WantedBy=multi-user.target

[System]

Target="win32"